@import "tailwindcss";

@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white;
  }

  main {
    padding: 0 !important;
  }

  .grid {
    display: block !important;
  }
}
